body {
  /* background-color: #ddd; */

  border: 2px solid #aaa;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.header {
  padding: 5%;
}


/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 10px) and (max-width: 576px) {
  .main {
    margin: 10px;
    border: 1px solid #aaa;
    background-color: green;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
  }
  
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 578px) and (max-width: 768px) {
  .main {
    margin: 10px;
    border: 1px solid #aaa;
    background-color: red;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
  }
 
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main {
    margin: 10px;
    border: 1px solid #bbb;
    background-color: rgb(233, 138, 233);
    border-radius: 10px;
  }
 
}
/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .main {
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(172, 115, 10);
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
  }
 
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main {
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(112, 201, 116);
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
  }
 
}
/* XX-Large devices (larger desktops, 1600px and up) */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .main {
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(67, 160, 236);
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
  }
 
}
